audio-recorder-streamlit==0.0.8
langchain==0.0.305
langchain-serve==0.0.61
pinecone-client==2.2.4
python-dotenv==1.0.0
streamlit==1.18.1
streamlit-audiorecorder==0.0.3.post1
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.2
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
